<!DOCTYPE html>

<html>
<head>
    <title>Add A New Match</title>
</head>

<body>
@using (Html.BeginForm("FormatRequestAndAddMatch", "Matches", FormMethod.Get, new {numOfTeams = "", playersPerTeam=""}))
{
    <div>
        <label>Number of Teams:</label>
        <input type="text" name="numOfTeams"/>
    </div>
    <div>
        <label>Number of Players per Team:</label>
        <input type="text" name="playersPerTeam"/>
    </div>
<div>
    <input type="submit" value="Submit"/>
</div>
}
</body>
</html>