/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.match {
    border-bottom: thin solid lightslategray;
    padding-bottom: 20px;
}

.match-header {
    padding-top: 1rem;
    display: block;
}

.match-title {
    display: inline-flex;
    margin-right: 20rem;
}
.nav-icon {
    vertical-align: top;
}

.delete-button {
    float: right;
}

.guardian-table { 
    counter-reset: rowNumber;
}

.guardian-table .guardian-rank {
    counter-increment: rowNumber;
}

.ranking:first-child::before {
    content: counter(rowNumber);
}

.scrollable-list {
    margin-bottom: 20px;
    border: thin solid lightslategrey;
}

#teamSize {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.submitButton {
    margin-top: 5rem;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
